
html {
  position: relative;
  min-height: 100%;
}

h1 {
  color: #581845 !important;
  font-size: 72px !important;
}

h2 {
  color: #FFC30F !important;
  font-size: 36px !important;
}

h6 {
  color: #FF5733 !important;
  font-size: 20px !important;
  text-align: center !important;
}

p {
  text-indent: 50px;
  color: #581845;
}

#dates {
  text-indent: 30px;
  text-align: justify;
  color: #581845;
}

body {
  font-size: 24px !important;
  font-family: Verdana, Geneva, sans-serif !important;
  padding-bottom: 80px;
  background-color: #6699cc!important;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #581845 !important;
}

#footer p {
  margin: 0;
  font-size: 16px;
  color: #FFC30F !important;

}
